---
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";
@import "index";
@import "projects_and_stories";

@font-face {
  font-family: $culler-font-family;
  src: url("/fonts/league-gothic/Leaguegothic-Regular.otf") format("opentype");
}

html, body {
  height: 100%;
  overflow: hidden;

  #current-background {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: -1000;

    @media(max-width: 768px) {
      display: none;
    }
  }

  #off-screen-background {
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: -1000;

    @media(max-width: 768px) {
      display: none;
    }
  }

  #main-div {
    width: auto;
    margin-left: 300px;
    margin-right: 300px;

    @media (max-width: 992px) {
      margin-left: 200px;
      margin-right: 200px;
    }

    @media (max-width: 768px) {
      margin-left: 100px;
      margin-right: 100px;
    }

    @media (max-width: 700px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}
