---
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "bootstrap-compass";
@import "bootstrap-mincer";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";
@import "index";
@import "projects_and_stories";

@font-face {
  font-family: $culler-font-family;
  src: url("/fonts/league-gothic/Leaguegothic-Regular.otf") format("opentype");
}

html, body {
  height: 100%;
  overflow: hidden;

  #background {
    position: absolute;
    bottom: 0%;
    width: 200%;
    z-index: -1000;

    @media(max-width: 768px) {
      display: none;
    }
  }

  #main-div {
    position: absolute;
    left: 50%;
    height: 100%;
    width: 50%;

    @media(max-width: 768px) {
      width: 100%;
      left: 0%;
    }

    .container-fluid {
      height: 100%;
    }
  }
}
