<div class="navbar">
  <div class="container-fluid">
    <div class="navbar-text">
      <div class="row">
        <div class="col-xs-3">
          <a id="home-link" href="/" title="home">Home</a>
        </div>
        <div class="col-xs-3">
          <a id="projects-link" href="/projects/" title="projects">Projects</a>
        </div>
        <div class="col-xs-3">
          <a id="stories-link" href="/stories/" title="stories">Stories</a>
        </div>
        <div class="col-xs-3">
          <a id="about-link" href="/about/" title="about">About</a>
        </div>
      </div>
    </div>
  </div>
</div>
